h1 {
    font-size: 80px;
    margin-top: 30px;
}

.aquila-content {
    text-align: center;
}

.introapropos p{
    margin-bottom: 50px;
}

.divapropos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left : 150px;
    margin-right : 150px;
    border: 1px solid #326d8f;
    background-color: #326d8f;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 27px;
    transition: 0.3s;
    color: white;
}

.divapropos:hover{
    box-shadow: 10px 10px 20px black;
}

.divapropos img{
    width: 40%;
    height: auto;
    margin : 50px;
    border-radius: 15px;
    transition: 0.3s;
}

.divapropos img:hover, #map-container:hover{
    transform: scale(1.1);
}

.apropos1:hover{    
   color:#326d8f;
}

.textapropos{
    align-items: flex-start;
    display : flex;
    flex-direction: column;
    padding : 50px;
    width: 50%;
    height: auto;
}

.textapropos p{
    text-align: left;
}

.textapropos h2:hover{
    padding-left: 30px;
    color: #88a2b1;
}

.introapropos{
    padding-left : 200px;
    padding-right : 200px;
    text-align: justify;
}

.derniereclass{
    margin-bottom : 50px;
}

.textapropos h2{
    margin-bottom : 25px;
    transition: 0.3s;
}

#map-container {
    width: 500px;
    z-index: 0;
    height: 300px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
    transition: 0.3s;
    margin-bottom: 50px;
    overflow: hidden;
    border: 3px solid #00436a;
}

@media (max-width: 768px) {
    .map {
        flex-direction: column;
    }

    #map-container {
        width: 100%;
    }
}
